<mat-card class="mat-elevation-z10">
    <mat-card-content>
        <mat-expansion-panel class="mat-elevation-z0">
            <mat-expansion-panel-header>
                <mat-panel-title>Create new game</mat-panel-title>
            </mat-expansion-panel-header>

            <mat-form-field>
                <mat-label>Configuration</mat-label>
                <mat-select>
                    <mat-option>a</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-action-row>
                <button mat-button
                        color="accent"
                >
                    Create
                </button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-card-content>
</mat-card>
