<div class="container"
     *ngIf="grid && mySubmarine"
     [class.loading]="isLoading"
>
    <div class="map">
        <div class="row" *ngFor="let row of grid">
            <span *ngFor="let cell of row"
                  class="cell"
            >
                <button *ngIf="getCellType(cell) === 'me'"
                        mat-flat-button
                        color="primary"
                        class="cell-button"
                >
                    <span class="icon">⚓</span>
                    <span class="tooltip-container">
                        <span class="tooltip">
                            You
                        </span>
                    </span>
                </button>
                <button *ngIf="getCellType(cell) === 'reachable'"
                        mat-flat-button
                        color="primary"
                        class="cell-button move"
                        (click)="emitMove(cell)"
                >
                    <span class="tooltip-container">
                        <span class="tooltip">
                            Move ({{ cell?.actionPointsToMove }})
                        </span>
                    </span>
                </button>
                <button *ngIf="getCellType(cell) === 'submarine'"
                        mat-flat-button
                        color="accent"
                        class="cell-button"
                        (click)="submarineForMenu = cell.submarine"
                >
                    <span class="icon">⚓</span>
                    <span class="tooltip-container">
                        <span class="tooltip">
                            {{ cell.submarine?.name }}
                        </span>
                    </span>
                    <span class="menu-container"
                          *ngIf="cell.submarine"
                          [hidden]="submarineForMenu?.id !== cell.submarine?.id"
                    >
                        <span class="menu">
                            <button mat-raised-button
                                    [disabled]="! cell.canAttack"
                                    (click)="emitAttack(cell.submarine, $event)"
                            >
                                Attack ({{ cell?.actionPointsToAttack }})
                            </button>
                            <br>
                            <button mat-raised-button
                                    [disabled]="! cell.canGiveActionPoints"
                                    (click)="emitGiveActionPoints(cell.submarine, $event)"
                            >
                                Give AP
                            </button>
                            <br>
                            <button mat-raised-button
                                    [disabled]="! cell.canShareSonar"
                                    (click)="emitShareSonar(cell.submarine, $event)"
                            >
                                Share sonar ({{ cell?.actionPointsToShareSonar }})
                            </button>
                            <br>
                        </span>
                </span>
                </button>
                <button *ngIf="getCellType(cell) === 'unreachable'"
                        mat-raised-button
                        disabled
                        class="cell-button"
                ></button>
                <button *ngIf="getCellType(cell) === 'invisible'"
                        mat-stroked-button
                        disabled
                        class="cell-button"
                ></button>
            </span>
        </div>
    </div>
</div>
