<div class="container" *ngIf="grid && mySubmarine">
    <div class="map">
        <div class="row" *ngFor="let row of grid">
            <span *ngFor="let cell of row"
                  class="cell"
            >
                <button *ngIf="getCellType(cell) === 'me'"
                        mat-flat-button
                        color="primary"
                >
                    <span class="icon">⚓</span>
                </button>
                <button *ngIf="getCellType(cell) === 'reachable'"
                        mat-flat-button
                        color="primary"
                >
                    <span class="tooltip-container">
                        <span class="tooltip">
                            Move
                        </span>
                    </span>
                </button>
                <button *ngIf="getCellType(cell) === 'submarine'"
                        mat-stroked-button
                        color="primary"
                ></button>
                <button *ngIf="getCellType(cell) === 'unreachable'"
                        mat-raised-button
                        disabled
                ></button>
                <button *ngIf="getCellType(cell) === 'invisible'"
                        mat-stroked-button
                        disabled
                ></button>
            </span>
        </div>
    </div>
</div>
