.container {
    position: absolute;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: scroll;

    button {

    }

    &.loading {
        cursor: wait;

        button {
            cursor: wait;
        }
    }

    .map {
        white-space: nowrap;

        transform:
            translateY(-15%)
            rotateX(60deg)
            rotateZ(-45deg)
            translateY(50%);

        .row {
            button.cell-button {
                font-family: Roboto, "Helvetica Neue", sans-serif;
                font-size: 14px;
                font-weight: 500;

                box-sizing: border-box;
                user-select: none;
                cursor: pointer;
                outline: none;
                border: none;
                display: inline-block;
                white-space: nowrap;
                text-decoration: none;
                vertical-align: middle;
                text-align: center;
                line-height: 36px;
                padding: 0 16px;
                border-radius: 4px;
                overflow: visible;

                background-color: #3f51b5;
                color: white;

                &:disabled {
                    cursor: inherit;
                    background-color: grey;
                }

                width: 5em;
                height: 5em;
                margin: .5em;

                position: relative;

                &.move {
                    transition: transform .8s;

                    &:hover {
                        transform: translate(.3em, -.3em);
                        transition: transform .2s;
                    }
                }

                &.enemy {
                    background-color: red;
                }

                &.unreachable {
                    background: transparent;
                    border: 1px solid grey;
                }

                .icon {
                    font-size: 3em;
                    position: absolute;
                    top: .2em;
                    left: 0.5em;
                    transform:
                        rotateZ(45deg)
                        scaleY(2);
                }

                .tooltip-container {
                    position: absolute;
                    transform: rotateZ(45deg) scaleY(2);
                    display: none;
                    top: 0;
                    left: 5em;
                    z-index: 1;

                    .tooltip {
                        position: absolute;
                        left: -10em;
                        bottom: 0;
                        width: 20em;
                        text-align: center;
                        pointer-events: none;
                    }
                }

                .menu-container {
                    position: absolute;
                    transform: rotateZ(45deg) scaleY(2);
                    top: 5em;
                    left: 0;
                    z-index: 1;

                    .menu {
                        position: absolute;
                        top: 0;
                        left: 0;

                        button {
                            min-width: 10em;
                        }
                    }
                }

                &:hover .tooltip-container {
                    display: inherit;
                }
            }
        }
    }
}

@media (max-width: 599px) {
    .container {
        top: 56px;
    }
}
