.container {
    overflow: scroll;

    .map {
        white-space: nowrap;

        transform: rotateX(60deg) rotateZ(-45deg);

        .row {
            button {
                width: 5em !important;
                height: 5em !important;
                margin: .5em;

                position: relative;

                &:not([disabled]) {
                    transition: transform .8s;

                    &:hover {
                        transform: translate(.3em, -.3em);
                        transition: transform .2s;
                    }
                }

                .icon {
                    font-size: 3em;
                    position: absolute;
                    top: .2em;
                    left: 0.5em;
                    transform: rotateZ(45deg) scaleY(2);
                }

                .tooltip-container {
                    position: absolute;
                    transform: rotateZ(45deg) scaleY(2);
                    display: none;
                    top: 0;
                    left: 5em;

                    .tooltip {
                        position: absolute;
                        left: -10em;
                        bottom: 0;
                        width: 20em;
                        text-align: center;
                        z-index: 100;
                        pointer-events: none;
                    }
                }

                &:hover .tooltip-container {
                    display: inherit;
                }
            }
        }
    }
}
