<app-map *ngIf="grid && mySubmarine"
         [grid]="grid"
         [mySubmarine]="mySubmarine"
         [isLoading]="isLoading"
         (move)="moveTo($event)"
         (attack)="attack($event)"
         (shareSonar)="shareSonar($event)"
         (giveActionPoints)="giveActionPoints($event)"
></app-map>
<mat-card class="overlay mat-elevation-z12" *ngIf="mySubmarine">
    <mat-card-content>
        Action points: {{ mySubmarine.actionPoints }}
    </mat-card-content>
</mat-card>
<mat-spinner *ngIf="! (grid && mySubmarine)"></mat-spinner>
