<div class="container">
    <mat-card class="mat-elevation-z10">
        <mat-card-header>
            <mat-card-title>Games</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <mat-table *ngIf="games" [dataSource]="games">
                <ng-container matColumnDef="configuration">
                    <mat-header-cell *matHeaderCellDef>Configuration</mat-header-cell>
                    <mat-cell *matCellDef="let game">
                        {{ game.configuration.name }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="players">
                    <mat-header-cell *matHeaderCellDef>Players</mat-header-cell>
                    <mat-cell *matCellDef="let game">
                        {{ game.numOfPlayers }} / {{ game.configuration.maxNumOfPlayers }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let game">
                        <button mat-stroked-button
                                *ngIf="! game.isJoined"
                                (click)="join(game)"
                        >
                            Join
                        </button>
                        <ng-container *ngIf="game.isJoined">
                            <button mat-raised-button
                                    color="accent"
                                    *ngIf="game.isJoined"
                                    (click)="play(game)"
                            >
                                Continue
                            </button>

                            <button mat-raised-button
                                    color="warn"
                                    *ngIf="game.isJoined"
                                    (click)="abandon(game)"
                            >
                                Abandon
                            </button>
                        </ng-container>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="['configuration', 'players', 'actions']"></mat-header-row>
                <mat-row *matRowDef="let row; columns: ['configuration', 'players', 'actions']"></mat-row>
            </mat-table>

            <mat-spinner *ngIf="games === null && isLoadingGames"></mat-spinner>

            <div class="empty-state" *ngIf="games?.length === 0">
                There are no games at this moment.
            </div>
        </mat-card-content>
        <mat-card-actions style="text-align: right">
            <button mat-icon-button
                    [disabled]="isLoadingGames"
                    (click)="loadGames()"
            >
                <mat-icon>refresh</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>

    <app-create-game-form></app-create-game-form>
</div>
